


body {
  display: flex;
}
.progress-ring {
  width: 10%;
  height: 10%;
} 

.progress-ring-circle {
  transform-origin: 250px 250px;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

.progress-text {
  font: 4em serif;
}