
.hidden {
    display: none;
}
#exerciseInfo {
  width: 100vw;

}
.in-progress {
    color: #fc8600;
  }
  
  .completed {
    color: #28a745;
  }

#body {
  background-color: #f4f4f4;
}
#pagecontent {
    font-family: Arial, sans-serif;
 
  }
  
  
  #map {
    width: 100vw;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="radio"] {
    margin: 0 10px 0 0;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #exerciseInfo {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .hidden {
    display: none;
  }

  
@media screen and (max-width: 600px) {
  #pagecontent {
    flex-direction: column;
  }

  #map, #exerciseInfo {
    width: 100%;
  }

  #exerciseInfo h2, #exerciseInfo p {
    font-size: 1.2em;
  }
}